@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #2FFE00;
}

.conteiner {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteiner__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px
}

.conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.conteudo_texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.conteudo_links {
    display: flex;
    justify-content: space-between;
}

.conteudo_links_link {
    background-color: #2FFE00;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding: 16px 0;
    text-decoration: none;
    color: #000000;
}